.sectionTitle {
  color: black;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}

.container {
  margin-bottom: 12px;
}

.title {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.description {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  line-height: 1px;
  color: black;
}

.dateRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  font-size: 10px;
  color: black;
}

.subtitle {
  font-size: 11px;
  color: black;
}

.location {
  font-size: 10px;
  color: black;
}
