.sectionTitle {
  font-family: 'Arimo', Arial, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin-right: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}

.container {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 12px;
}

.titleRow {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.dateRow {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.separator {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.subTitleRow {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitle {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.location {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.description {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1px;
  color: black;
}