.sectionTitle {
  font-family: 'Arimo', Arial, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin-right: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}
.container {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 16px;
}

.name {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.contactRow {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4px;
  align-items: center;
}

.contactItem {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-right: 8px;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.contactUrl {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-right: 8px;
  color: black;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.contactIcon {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-right: 2px;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.summary {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-top: 8px;
  text-align: justify;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
