.sectionTitle {
  font-family: 'Arimo', Arial, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin-right: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}

.container {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 8px;
}

.row {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin-right: 8px;
  color: black;
  margin: 0px;
  padding: 0px;
}

.rating {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0px;
  padding: 0px;
}

.description {
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-top: 2px;
  color: black;
  margin: 0px;
  padding: 0px;
}